#!/bin/sh
######################################################################
# run `./scripts/sync-env.sh` to quickly dump secret manager values to a file
######################################################################
export TF_VAR_vpc_id=''