region             = "${AWS_REGION}"
registry_name      = "${REGISTRY_NAME}"
env                = "${ENV}"
project_name       = "${PROJECT_NAME}"
service_port       = ${SERVICE_PORT}
vpc_id = "${VPC_ID}"
