region             = "${AWS_REGION}"
registry_name      = "${REGISTRY_NAME}"
env                = "${ENV}"
project_name       = "${PROJECT_NAME}"
availability_zones = ${AZ}
service_port       = "${SERVICE_PORT}"
dns_zone_name      = "${DNS_ZONE_NAME}"
tags               = ${TAGS}
vpc_id = "${VPC_ID}"
