region             = "${AWS_REGION}"
registry_name      = "${REGISTRY_NAME}"
env                = "${ENV}"
project_name       = "${PROJECT_NAME}"
service_port       = ${SERVICE_PORT:-8080}
vpc_id = "${VPC_ID}"
permissions_boundary_policy_name = ${PERMISSIONS_BOUNDARY_POLICY_NAME}
